<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item style="font-weight: bold;">
          <h1> {{title}} </h1>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label position="stacked" color="primary">Date:</ion-label>
          <h4>{{todoDeadline[0]}}</h4>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="primary">Time:</ion-label>
          <h4>{{todoDeadtime[0]}}</h4>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="primary">Priority:</ion-label>
          <h4>{{todopriority[0]}}</h4>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="primary"> Description: </ion-label>
          <h4>{{tododescription[0]}}</h4>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>